@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 99%; /* Almost white */
    --foreground: 224 71% 4%; /* Dark Slate - #0f172a */

    --card: 240 10% 99%;
    --card-foreground: 224 71% 4%;

    --popover: 240 10% 99%;
    --popover-foreground: 224 71% 4%;

    --primary: 224 71% 4%;
    --primary-foreground: 60 93% 98%;

    --secondary: 240 5% 96%;
    --secondary-foreground: 224 71% 4%;

    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;

    --accent: 240 5% 96%;
    --accent-foreground: 224 71% 4%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 224 71% 4%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%; /* Dark Slate - #0f172a */
    --foreground: 240 10% 99%; /* Almost white */

    --card: 224 71% 4%;
    --card-foreground: 240 10% 99%;

    --popover: 224 71% 4%;
    --popover-foreground: 240 10% 99%;

    --primary: 240 10% 99%;
    --primary-foreground: 224 71% 4%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 240 10% 99%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 65%;

    --accent: 240 4% 16%;
    --accent-foreground: 240 10% 99%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 240 10% 99%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
